@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./Fonts/Nunito_Complete/Fonts/WEB/css/nunito.css');

* {
  font-family: 'Nunito-Variable';
}

html {
  height: 100%;
  overflow-x: hidden;
  background: rgb(28, 28, 33);
  background: linear-gradient(139deg, rgba(28, 28, 33, 1) 0%, rgba(12, 12, 14, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
